@keyframes right_animation {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: 50%;
    left: 150%;
  }
}

@keyframes left_animation {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: 50%;
    left: -50%;
  }
}

@keyframes down_animation {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: 150%;
    left: 50%;
  }
}

.right {
  animation-name: right_animation;
  animation-duration: 0.5s;
}

.left {
  animation-name: left_animation;
  animation-duration: 0.5s;
}

.down {
  animation-name: down_animation;
  animation-duration: 0.5s;
}
